.header {
    margin-left: 0;
    width: 600px;
    letter-spacing: 1px;
}

.header span:first-of-type {
    background-color: white;
    color: black;
    padding: 10px 5px 10px 10px;
    border-radius: 15px 0px 0px 15px;
    margin-top: 10px;
}

.header span:last-of-type {
    font-size: 23px;
    border: 1px solid white;
    padding: 15px 15px 11px 10px;
    margin-left: -10px;
    border-radius: 0px 15px 15px 0px;
}

.header span:last-of-type:hover {
    background-color: white;
    color: black;
}

.mvc-form dt {
    background-color: white;
    color: black;
    margin-bottom: 15px;
    padding: 2px 6px;
    border-radius: 15px 0px 0px 15px;
}

.form-account {
    margin-left: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-group label {
    background-color: white;
    color: black;
    padding-bottom: 7px;
    border-radius: 15px 0px 0px 15px;
}

.form-account input, .form-account select {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin-left: -15px;
    border-radius: 0px 15px 15px 0px;
}

.form-account select option {
    color: black;
}

#btn-save {
    padding: 8px 12px !important;
    border-radius: 15px !important;
    cursor: pointer;
    transition: .3s;
}

#btn-save:hover {
    background-color: white;
    color: black;
}