
h1 {
    margin-top: -15px;
}

.main {
    position: relative;
    width: 113%;
}

.flights-main {
    margin-left: -35px;
    margin-right: 15px;
    margin-bottom: 60px;
    font-size: 12px;
}

.filters {
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

.filters div {
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
}

.filters input, .filters select {
    background-color:transparent;
    color: white;
    border: 1px solid white;
    padding: 4px 9px;
    border-radius: 10px;
    width: 100%;
}

.filters select option {
    background-color:#09082b;
}

.filters input::placeholder {
    color: white;
}

.filters input:focus, .filters select {
    outline: none;
}

.vip-div {
    display: flex;
    margin-top: -15px;
    margin-bottom: 10px;
    margin-left: 55px;
}

.vip-div input{
    width: 40px;
}

.filters button {
    font-size: 19px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 11px;
}

/*************************FLIGHT CARDS**********************/
.flight-row {
    margin-bottom: 20px;
    background-color: rgba(255,255,255,.1);
    padding: 10px;
    border-radius: 15px;
    border: .5px solid rgba(255,255,255,.13);
    backdrop-filter: blur(1px);
    transition: .3s;
}

.flight-row:hover {
    background-color: rgba(255,255,255,.13);
    border: .5px solid rgba(255,255,255,.17);
    backdrop-filter: blur(1.5px);
}

.flight-row > div {
    padding-left: 5px;
    padding-right: 5px;
}

.vip-super-div-inflight {
    height: 84px;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
}

.super-is-vip {
    background-color: rgba(37, 156, 69,.40);
    border: .5px solid rgba(37, 156, 69,.50);
    transition: .3s;
}

.super-not-vip {
    background-color: rgba(156, 102, 37,.40);
    border: .5px solid rgba(156, 102, 37,.50);
    transition: .3s;
}

.super-is-vip:hover {
    background-color: rgba(37, 156, 69,.55);
    border: .5px solid rgba(37, 156, 69,.66);
}

.super-not-vip:hover {
    background-color: rgba(156, 102, 37,.55);
    border: .5px solid rgba(156, 102, 37,.66);
}

.vip-div-inflight {
    position: absolute;
    top: 35%;
    left: 15px;
}

.is-vip {
    margin: 2px 0px 0px 8px;
}

.not-vip {
    margin: -6px 0px 0px 7px;
}

.status-display {
    padding: 1px 2px;
    font-size: 10.5px;
    position: absolute;
    top: -13.5px;
    left: 35px;
    border:  .5px solid rgba(255,255,255,.25);
    border-radius: 20px;
    letter-spacing: .5px;
}

.bg-red {
    background-color: rgba(158, 22, 40,.66);
}
.bg-green {
    background-color: rgba(60, 176, 25,.55);
}
.bg-orange {
    background-color: rgba(158, 113, 22,.554);
}


.flight-details-destination, .flight-details-departure, .flight-details-date, .flight-details-price {
    display: flex;
    flex-wrap: nowrap;
    padding: 3px 4px;
    text-align: center;
    border: .5px solid rgba(255,255,255,.33);
    border-radius: 15px;
    background-color: rgba(255,255,255,.07);
    transition: .3s;
}

.flight-details-destination:hover, .flight-details-departure:hover, .flight-details-date:hover, .flight-details-price:hover {
    background-color: rgba(255,255,255,.14);
    border: .5px solid rgba(255,255,255,.55);
}

.flight-details-departure, .flight-details-date {
    margin-bottom: 9.5px;
}


.flight-details-departure div:not(:first-child),
.flight-details-destination div:not(:first-child), 
.flight-details-price div:not(:first-child),
.flight-details-date div:not(:first-child){
    margin-top: 6px;
}

.flight-details-departure div,
.flight-details-destination div,
.flight-details-date div,
.flight-details-price div {
    margin-right: 6px;
    margin-left: 2px;
}

.starship-details, .flight-details {
    text-align: center;
}

.starship-details {
    border: .5px solid rgba(255,255,255,.33);
    border-radius: 15px;
    padding: 6px 1px;
    font-size: 10.7px;
}

.book-flight-btn {
    background-color: transparent;
    border: none;
    height: 84px;
    width: 100%;
    background-color: rgba( 150, 29, 100,.13);
    border: .5px solid rgba( 150, 29, 100,.33);
    letter-spacing: 1px;
    font-size: 14px;
    border-radius: 15px;
    transition: .3s;
}

.book-flight-btn:hover {
    background-color: rgba( 150, 29, 100,.33);
    border: .5px solid rgba( 150, 29, 100,.77);
}

.order-number {
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    color: black;
    margin-right: 12px;
    padding: 4px 8px;
}

h2 {
    margin-bottom: 28px;
    border: 1px solid white;
    width: 410px;
    padding: 4px 0px;
    border-radius: 10px;
}

.red-bg {
    background-color: rgba( 138, 48, 34,.33);
    border: .5px solid rgba( 138, 48, 34,.77);
}

.red-bg:hover {
    background-color: rgba( 138, 48, 34,.44);
    border: .5px solid rgba( 138, 48, 34,.99);
}

.favorite-display {
    padding: 1px 2px;
    position: absolute;
    top: -14.5px;
    left: 115px;
    cursor: pointer;
}

.favorite-display img {
    height: 18px;
    width: auto;
}


/* ***************JQUERRY HANDLING CSS******************* */

.ui-slider .ui-slider-handle {
    width: 17px;
    height: 17px;
    border-radius: 100%;
}

.ui-slider-horizontal {
    height: 8px;
}

#double-range .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    outline: none;
}





/*******************PAGINATION**********************/
.paginationjs {
    position: absolute;
    bottom: -20px;
    left: 20%;
    display: flex;
    justify-content: center;
    color: white;
    margin: 50px 0px 40px 0px;
}

.paginationjs-pages ul {
    display: flex;
    list-style-type: none;
    margin: 0px 5px;
}

.paginationjs-pages ul li {
    display: flex;
    list-style-type: none;
    margin: 0px 5px;
}

.paginationjs-pages ul li a {
    color: white;
    font-size: 18px;
}

.J-paginationjs-go-pagenumber {
    width: 40px;
    border-radius: 15px;
    background: transparent;
    border: 1px solid white;
    margin: 0px 5px;
}

.J-paginationjs-go-button {
    font-size: 14.5px;
    height: 25px;
    width: 45px;
    margin: 0px 5px;
    background: transparent;
    border: 1px solid white;
    border-radius: 15px;
    transition: 0.2s;
}

.J-paginationjs-go-button:hover {
    background: white;
    color: #0c1233;
}

.J-paginationjs-go-pagenumber:focus,
.J-paginationjs-go-button:focus {
    outline: none;
}


@media screen and (max-width: 1300px) {
    .filters {
        width: 250px;
    }
}

@media screen and (max-width: 1200px) {
    .book-flight-btn, .vip-div-inflight {
        font-size: 11px;
    }
    .is-vip {
        margin: 2px 0px 0px 5px;
    }
    .not-vip {
        margin: -4px 0px 0px 5px;
    }
}

@media screen and (max-width: 1100px) {
    .filters {
        width: 210px;
    }
    .vip-div {
        margin-left: 10px;
    }
}

@media screen and (max-width: 993px) {
    .filters {
        width: 200px;
    }
    .flight-row {
        font-size: 10px;
    }
    .book-flight-btn, .vip-div-inflight {
        font-size: 9px;
    }
    .book-flight-btn {
        letter-spacing: 0px;
        text-align: center;
    }
    .is-vip {
        margin: 3px 0px 0px 0px;
    }

    .not-vip {
        margin: -4px 0px 0px 0px;
    }
}

@media screen and (max-width: 835px) {
    .filters {
        width: 160px;
        margin-left: -15px;
    }
    .flight-row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .flights-main {
        margin-left: -15px;
    }
}