@model List<Space101.ViewModels.SurfaceMorphologyViewModels.SurfaceMorphologyViewModel>

<div class="planet-terrains-form-group">
    <button type="button" class="btn btn-lg btn-block" data-toggle="collapse" data-target="#terrains">
        Manage Terrains
    </button>
    <div id="terrains" class="collapse">
        <br />
        <ul class="list-group">
            @if (Model.Count == 0)
            {
                <li>
                    <i>There are no available terrains.</i>
                </li>
            }
            @for (int i = 0; i < Model.Count; i++)
            {
                <li class="list-group-item">
                    @Html.HiddenFor(item => Model[i].TerrainId)
                    @Html.CheckBoxFor(item => Model[i].PlanetHasTerrain) @Model[i].TerrainName
                </li>
            }
        </ul>
    </div>
</div>
<br />
