* {
    padding: 0px;
    margin: 0px;
    border: none;
}

.error-container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%2311081c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23161031' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%231a1447' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%231c185e' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%231c1b77' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
}

@keyframes float-in-space {
    25% {
        transform: translate(17px,15px);
    }

    50% {
        transform: translate(35px,10px)
    }

    25% {
        transform: translate(25px,-2px);
    }

    100% {
        transform: translate(0px,0px);
    }
}

.astronaut {
    width: 40%;
    position: absolute;
    top: 5%;
    right: 20%;
    animation: float-in-space 4s linear infinite;
}

.error {
    position: absolute;
    top: 25%;
    left: 5%;
    color: #fff;
}

    .error .error-status {
        position: relative;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

        .error .error-status .status {
            font-size: 120px;
            margin: 20px;
        }

    .error .error-message {
        position: relative;
        margin-top: 50px;
    }

#home-btn {
    position: relative;
    bottom: -50px;
    left: 32%;
    margin-top: 100px;
    padding: 15px 50px;
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: black;
    color: #fff;
    text-decoration: none;
}
