@{
    ViewBag.Title = "About";
}
<br />
<h2>Welcome to SpaceFaring.</h2>
<hr />
<div class="container-fluid about-text">
    <p> A spaceport or cosmodrome is a site for launching (or receiving) spacecraft, by analogy to seaport for ships or airport for aircraft. Our company associates with most of our Galaxy’s cosmodromes and also owns a variety of spacecrafts.</p>

    <p>That being told, we are ready to please the space transportation needs of every individual regardless of species. Our application targets on bringing together individuals who want to travel to infinity and beyond.</p>
</div>
