@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>
<h3>Please don't hesitate contacting us.</h3>

<address>
    Earth, Greece<br />
    Thessaloniki<br />
    <abbr title="Phone">Phone:</abbr>
    0000.000.000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">vasileiadis.sta@gmail.com</a><br />
    <strong>FeedBack:</strong> <a href="mailto:Marketing@example.com">georgemalandris@gmail.com</a>
</address>