

<div class="index-main">


    <div class="container container-main">

        <div class="row heading">
            <div class="col-xs-3">
                <h2>Space Faring</h2>
            </div>
            <div class="col-xs-3">
                <h2><span id="flights-no"></span> FLIGHTS</h2>
            </div>
            <div class="col-xs-3">
                <h2><span id="races-no"></span> RACES</h2>
            </div>
            <div class="col-xs-3">
                <h2><span id="planets-no"></span> PLANETS</h2>
            </div>
        </div>

        <div class="row main">
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-xs-12 about-us">
                        <h2>About Us</h2>
                    </div>
                    <div class="col-xs-12 contact-us">
                        <h2>Contact</h2>
                    </div>
                    <div class="col-xs-12 flights">
                        <h2>Flights</h2>
                    </div>
                    <div class="col-xs-12 badges">
                        <h2>Badges</h2>
                    </div>
                    <div class="col-xs-12 privileges">
                        <h2>Privileges</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-6" id="about-us">
                <p>
                    ABOUT US<br />
                    A spaceport or cosmodrome is a site for launching (or receiving) spacecraft, by analogy to seaport for
                    ships or airport for aircraft.
                    Our company associates with most of our Galaxy’s cosmodromes and also owns a variety of spacecrafts.<br /><br />

                    That being told, we are ready to please the space transportation needs of every individual regardless of species. 
                    Our application targets on bringing together individuals who want to travel to infinity and beyond. <br /><br />

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis tincidunt nunc vitae aliquam.
                    Donec ornare varius enim, lacinia fringilla elit tincidunt ut. Sed euismod massa et tortor egestas, et
                    scelerisque ex commodo. Integer convallis nisi et auctor feugiat. Praesent lacus lectus, tempus sit amet pulvinar non,
                    placerat vel velit. Suspendisse potenti. Nam eu purus sed justo dictum sagittis et non justo.<br />
                </p>
            </div>
            <div class="col-xs-6" id="contact-us" style="display: none;">
                <p>
                    <h3>Contact</h3>
                    <h3>Please don't hesitate contacting with us.</h3>

                    <address>
                        Earth, Greece<br />
                        Thessaloniki<br />
                        <abbr title="Phone">Phone:</abbr>
                        0000.000.000
                    </address>

                    <address>
                        <strong>Support:</strong>   <a href="mailto:Support@example.com">vasileiadis.sta@gmail.com</a><br />
                        <strong>FeedBack:</strong> <a href="mailto:Marketing@example.com">georgemalandris@gmail.com</a>
                    </address>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis tincidunt nunc vitae aliquam.
                    Donec ornare varius enim, lacinia fringilla elit tincidunt ut. Sed euismod massa et tortor egestas.<br />
                </p>
            </div>
            <div class="col-xs-6" id="flights" style="display: none;">
                <p>
                    FLIGHTS<br />
                    Explore planets and races traveling with us.<br />
                    Sky is the Beggining.<br /><br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis tincidunt nunc vitae aliquam.
                    Donec ornare varius enim, lacinia fringilla elit tincidunt ut. Sed euismod massa et tortor egestas, et
                    scelerisque ex commodo. Integer convallis nisi et auctor feugiat. Praesent lacus lectus, tempus sit amet pulvinar non,
                    placerat vel velit. Suspendisse potenti. Nam eu purus sed justo dictum sagittis et non justo.<br />

                    Nullam eget augue imperdiet, dignissim ante et, imperdiet ipsum. Vivamus sollicitudin, odio id condimentum fringilla,
                    est velit hendrerit elit, nec vestibulum arcu urna sit amet dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam congue ante placerat arcu dictum laoreet. Maecenas cursus ullamcorper odio, at dictum libero vulputate non.
                    Duis at elit at ipsum tristique sodales. Suspendisse potenti. Morbi a erat luctus, consequat nibh vitae, vulputate purus. <br />

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis tincidunt nunc vitae aliquam.
                    Donec ornare varius enim, lacinia fringilla elit tincidunt ut. Sed euismod massa et tortor egestas, et
                    scelerisque ex commodo. Integer convallis nisi et auctor feugiat. Praesent lacus lectus, tempus sit amet pulvinar non,
                    placerat vel velit. Suspendisse potenti. Nam eu purus sed justo dictum sagittis et non justo.<br />
                </p>
            </div>
            <div class="col-xs-6" id="badges" style="display: none;">
                <p>
                    BADGES<br />
                    Badge system is coming soon!....<br /><br />

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis tincidunt nunc vitae aliquam.
                    Donec ornare varius enim, lacinia fringilla elit tincidunt ut. Sed euismod massa et tortor egestas, et
                    scelerisque ex commodo. Integer convallis nisi et auctor feugiat. Praesent lacus lectus, tempus sit amet pulvinar non,
                    placerat vel velit. Suspendisse potenti. Nam eu purus sed justo dictum sagittis et non justo.<br />

                    Nullam eget augue imperdiet, dignissim ante et, imperdiet ipsum. Vivamus sollicitudin, odio id condimentum fringilla,
                    est velit hendrerit elit, nec vestibulum arcu urna sit amet dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam congue ante placerat arcu dictum laoreet. Maecenas cursus ullamcorper odio, at dictum libero vulputate non.
                    Duis at elit at ipsum tristique sodales. Suspendisse potenti. Morbi a erat luctus, consequat nibh vitae, vulputate purus. <br />

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis tincidunt nunc vitae aliquam.
                    Donec ornare varius enim, lacinia fringilla elit tincidunt ut. Sed euismod massa et tortor egestas, et
                    scelerisque ex commodo. Integer convallis nisi et auctor feugiat. Praesent lacus lectus, tempus sit amet pulvinar non,
                    placerat vel velit. Suspendisse potenti. Nam eu purus sed justo dictum sagittis et non justo.<br />

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis tincidunt nunc vitae aliquam.
                    Donec ornare varius enim, lacinia fringilla elit tincidunt ut. Sed euismod massa et tortor egestas, et
                    scelerisque ex commodo. Integer convallis nisi et auctor feugiat. Praesent lacus lectus, tempus sit amet pulvinar non,
                    placerat vel velit. Suspendisse potenti. Nam eu purus sed justo dictum sagittis et non justo.<br />
                </p>
            </div>
            <div class="col-xs-6" id="privileges" style="display: none;">
                <p>
                    PRIVILEGES<br />
                    More user privileges are coming soon!....<br /><br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis tincidunt nunc vitae aliquam.
                    Donec ornare varius enim, lacinia fringilla elit tincidunt ut. Sed euismod massa et tortor egestas, et
                    scelerisque ex commodo. Integer convallis nisi et auctor feugiat. Praesent lacus lectus, tempus sit amet pulvinar non,
                    placerat vel velit. Suspendisse potenti. Nam eu purus sed justo dictum sagittis et non justo. <br />

                    Nullam eget augue imperdiet, dignissim ante et, imperdiet ipsum. Vivamus sollicitudin, odio id condimentum fringilla,
                    est velit hendrerit elit, nec vestibulum arcu urna sit amet dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam congue ante placerat arcu dictum laoreet. Maecenas cursus ullamcorper odio, at dictum libero vulputate non.
                    Duis at elit at ipsum tristique sodales. Suspendisse potenti. Morbi a erat luctus, consequat nibh vitae, vulputate purus. <br />

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis tincidunt nunc vitae aliquam.
                    Donec ornare varius enim, lacinia fringilla elit tincidunt ut. Sed euismod massa et tortor egestas, et
                    scelerisque ex commodo. Integer convallis nisi et auctor feugiat. Praesent lacus lectus, tempus sit amet pulvinar non,
                    placerat vel velit. Suspendisse potenti. Nam eu purus sed justo dictum sagittis et non justo.<br />

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis tincidunt nunc vitae aliquam.
                    Donec ornare varius enim, lacinia fringilla elit tincidunt ut. Sed euismod massa et tortor egestas, et
                    scelerisque ex commodo. Integer convallis nisi et auctor feugiat. Praesent lacus lectus, tempus sit amet pulvinar non,
                    placerat vel velit. Suspendisse potenti. Nam eu purus sed justo dictum sagittis et non justo.<br />
                </p>
            </div>
            <div class="col-xs-3">
                <div class="col-xs-12">
                    <a href="/UserFlights/Flights"><h2>BOOK FLIGHTS</h2></a>
                </div>
                <div class="col-xs-12">
                    <a href="/UserPlanet/Planets"><h2>Explore Planets</h2></a>
                </div>
                <div class="col-xs-12">
                    <a href="/UserRace/Races"><h2>Explore Races</h2></a>
                </div>
            </div>
        </div>

    </div>


    <article class="card card--planet">
        <div class="card__planet">
            <div class="planet__atmosphere">
                <div class="planet__surface"> </div>
            </div>
        </div>
    </article>

</div>

@Styles.Render("~/Content/custom/userIntroPage.css")

@section scripts {

    @Scripts.Render("~/bundles/userFrontPage")

    <script>$(document).ready(function () { UserFrontPageController.init() });</script>

}